* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 택스트 드래그 막는거 찾기 */
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto; /* 1200px보다 작아지면 스크롤 생성 */
}

#root {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

main {
  border: 2px solid #333;
  width: 100%;
}

#container {
  height: 800px;
  position: relative;
  color: black;
}
