/* 게임 컨테이너 */
#container {
  background-image: url("../../asset/img/timer-teacher.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* 버튼 row */
#button-wrap {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  white-space: nowrap;
}

/* 버튼 크기 설정 */
.color-box {
  width: 220px;
  height: 100px;
}

/* 버튼 공통 */
.color-box button {
  width: 100%;
  height: 100%;
  padding: 20px 48px;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease,
    background-color 0.2s,
    filter 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: buttonAppear 0.4s ease 0.2s forwards;
  opacity: 0;
}

/* 사용자 버튼 */
#user-btn {
  background-color: #ef4444;
  cursor: not-allowed;
}

/* 타겟 버튼 */
#target-btn {
  background-color: #22c55e;
  cursor: not-allowed;
}

/* 성공 시 활성화 */
.success-active {
  pointer-events: auto !important;
  background-image: none !important;
  background-color: #22c55e !important;
  cursor: pointer !important;
  box-shadow: 0 0 15px rgba(34, 197, 94, 0.8) !important;
  animation: pulse-glow 0.5s infinite alternate !important;
  opacity: 1 !important;
}

/* 애니메이션 정의 */
@keyframes buttonAppear {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes pulse-glow {
  from {
    transform: scale(1);
    filter: brightness(1);
  }
  to {
    transform: scale(1.05);
    filter: brightness(1.2);
  }
}

/* rgb 입력 영역 */
#rgb-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-top: 50px;
  background-color: #fff;
  height: 150px;
  border-radius: 20px;
  width: 60%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.input-group {
  display: flex;
  width: 120px;
  height: 30px;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

/* input 창 */
.input-group input {
  flex: 1;
  height: 100%;
  width: 0;
  font-size: 23px;
  padding: 3px;
}

/* label 설정 */
.input-group label {
  font-weight: 800;
  font-size: 25px;
  text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff,
    2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* 게임 설명 */
#rgb-guide {
  width: 100%;
  padding: 14px 18px;
  background-color: #2ecc71;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 0;
}
